   

<div class="container">
  <div class="row">
    <div class="col-12">
    <div class="row">
      <div class="col-md-6 m-b-20">

          <%= form_with(model: specification_value, id: 'specification_value', local: true) do |form| %>
            <% if specification_value.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(specification_value.errors.count, "error") %> prohibited this specification_value from being saved:</h2>

                <ul>
                <% specification_value.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label 'Valor' %>
              <%= form.text_field :value, placeholder: "Ej: 42",  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label 'Categoría' %>
              <%= form.select :specification_id, options_for_select(Specification.all.map{ |c| [c.name, c.id]}),  {}, { :class => 'form-control' } %>
          </div>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
            <%= link_to 'Atrás', categories_path, class: 'btn btn-default' %>

        <% end %>
      </div>
    </div>  

    </div>          
  </div>
  
</div>


