<%= form_with(model: treasury_output, local: true) do |form| %>
  <% if treasury_output.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(treasury_output.errors.count, "error") %> prohibited this treasury_output from being saved:</h2>

      <ul>
      <% treasury_output.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Fecha' %>
    <%= form.datetime_select :input_date, :disabled => true %>
  </div>

  <div class="field">
    <%= form.label 'Descripción' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label 'Cantidad' %>
    <%= form.number_field :quantity %>
  </div>

  
  <%= form.hidden_field :treasury_petty_cash_id, value: session[:petty_cash_active]["id"] %>


  <div class="actions">
    <%= form.submit 'Guardar Salida' %>
  </div>
<% end %>
