<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :number_id %>
    <%= form.text_field :number_id %>
  </div>

  <div class="field">
    <%= form.label :born_date %>
    <%= form.datetime_select :born_date %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :living_place %>
    <%= form.text_field :living_place %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :civil_status %>
    <%= form.text_field :civil_status %>
  </div>

  <div class="field">
    <%= form.label :job %>
    <%= form.text_field :job %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :money_income %>
    <%= form.text_field :money_income %>
  </div>

  <div class="field">
    <%= form.label :work_address %>
    <%= form.text_field :work_address %>
  </div>

  <div class="field">
    <%= form.label :working_time %>
    <%= form.text_field :working_time %>
  </div>

  <div class="field">
    <%= form.label :work_phone %>
    <%= form.text_field :work_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
