<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @customer.sex %>
</p>

<p>
  <strong>Number:</strong>
  <%= @customer.number_id %>
</p>

<p>
  <strong>Born date:</strong>
  <%= @customer.born_date %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @customer.nationality %>
</p>

<p>
  <strong>Living place:</strong>
  <%= @customer.living_place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @customer.civil_status %>
</p>

<p>
  <strong>Job:</strong>
  <%= @customer.job %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @customer.company_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @customer.position %>
</p>

<p>
  <strong>Money income:</strong>
  <%= @customer.money_income %>
</p>

<p>
  <strong>Work address:</strong>
  <%= @customer.work_address %>
</p>

<p>
  <strong>Working time:</strong>
  <%= @customer.working_time %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @customer.work_phone %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
