<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20"><%= @category.parent_id.present? ? "Subcategoría" : "Categoría"  %></h4>
    </div>                 
</div>      

<div class="container">
  <div class="row">
    <div class="col-12">
        <br>
        <p>
          <strong>Nombre:</strong>
          <%= @category.name %>
        </p>
        <% if @category.parent_id.present? %>
          <p>
            <strong>Categoría:</strong>
            <%= Category.find(@category.parent_id).name %>
          </p>
        <% end %>
        <p>
          <strong>Descripción:</strong>
          <%= @category.description %>
        </p>
        <br>
        <%= link_to 'Editar', edit_category_path(@category), class: 'btn btn-primary' %> 
        <%= link_to 'Atrás', categories_path, class: 'btn btn-default' %>

    </div>          
  </div>
  
</div>


