<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">Entrada</h4>
    </div>                 
</div>      

<div class="container">
  <div class="row">
    <div class="col-12">
        <br>
        <p>
          <strong>Producto:</strong>
          <%= @output.item.name %>
        </p>

        <p>
          <strong>Descripción:</strong>
          <%= @output.description %>
        </p>

        <p>
          <strong>Fecha:</strong>
          <%= @output.output_date.strftime("%d/%m/%Y") %>
        </p>

        <p>
          <strong>Cantidad:</strong>
          <%= @output.quantity %>
        </p>

        <br>
        <%= link_to 'Editar', edit_output_path(@output), class: 'btn btn-primary' %> 
        <%= link_to 'Atrás', outputs_path, class: 'btn btn-default' %>

    </div>          
  </div>
  
</div>


