<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @sale.total_amount %>
</p>

<p>
  <strong>Remaining amount:</strong>
  <%= @sale.remaining_amount %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @sale.discount %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @sale.tax %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
