<!-- LOGO -->
<div class="topbar-left">
    <a href="/" class="logo">
        <span>
          <%= image_tag 'images/logo', alt: 'logo' %>
        </span>
        <i>
          <%= image_tag 'images/logo_sm.png', alt: 'logosm' %>

        </i>
    </a>
</div>

<nav class="navbar-custom">

  <ul class="list-unstyled topbar-right-menu float-right mb-0">

      <%# <li class="dropdown notification-list">
          <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-bell noti-icon"></i>
              <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-lg">

              <!-- item-->
              <div class="dropdown-item noti-title">
                  <h6 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Notification</h6>
              </div>

              <div class="slimscroll" style="max-height: 190px;">
                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item notify-item">
                      <div class="notify-icon bg-success"><i class="mdi mdi-comment-account-outline"></i></div>
                      <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
                  </a>

                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item notify-item">
                      <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                      <p class="notify-details">New user registered.<small class="text-muted">5 hours ago</small></p>
                  </a>

                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item notify-item">
                      <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                      <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">3 days ago</small></p>
                  </a>

                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item notify-item">
                      <div class="notify-icon bg-warning"><i class="mdi mdi-comment-account-outline"></i></div>
                      <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">4 days ago</small></p>
                  </a>

                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item notify-item">
                      <div class="notify-icon bg-custom"><i class="mdi mdi-heart"></i></div>
                      <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">13 days ago</small></p>
                  </a>
              </div>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                  View all <i class="fi-arrow-right"></i>
              </a>

          </div>
      </li> %>

      <li class="dropdown notification-list">
          <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <%= image_tag 'images/users/avatar-1.jpg', alt: 'user', class: 'rounded-circle' %>

              
              <span class="ml-1"><%=current_user.email%> <i class="mdi mdi-chevron-down"></i> </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
              <!-- item-->
              <div class="dropdown-item noti-title">
                  <h6 class="text-overflow m-0">Bienvenido !</h6>
              </div>

              <!-- item-->
              <a href="<%= edit_user_registration_path %>" class="dropdown-item notify-item">
                  <i class="ti-user"></i> <span>Mi cuenta</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="ti-settings"></i> <span>Configuración</span>
              </a>

              <%# <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="ti-lock"></i> <span>Bloquear Pantalla</span>
              </a> %>

              <!-- item-->
              <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item notify-item' do %>
                <i class="ti-power-off"></i> <span>Salir</span>
              <% end %>

          </div>
      </li>

  </ul>

  <ul class="list-inline menu-left mb-0">
      <li class="float-left">
          <button class="button-menu-mobile open-left waves-light waves-effect">
              <i class="mdi mdi-menu"></i>
          </button>
      </li>

  </ul>

</nav>