<div id="sidebar-menu">
  <!-- Left Menu Start -->
  <ul class="metismenu" id="side-menu">
      <%# <li class="menu-title text-danger">Principal</li> %>
      <li>
          <%=link_to root_path  do %>
            <i class="ti-home"></i><span> Dashboard </span>
          <%end %>
      </li>

      <li>
          <a href="javascript: void(0);"><i class="ti-shopping-cart-full"></i> <span> Ventas </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><%= link_to 'Punto de Venta', new_sale_path, class: '' %></li>
              
              <%# <li><a href="components-icons.html">Icons</a></li>
              <li><a href="components-widgets.html">Widgets</a></li>  %>
          </ul>
      </li>


      <%# <li>
          <a href="ui-elements.html">
              <i class="ti-paint-bucket"></i><span class="badge badge-custom pull-right">11</span> <span>Prestamos</span>
          </a>
      </li> %>


      <li>
        <a href="javascript: void(0);"><i class="ti-pencil-alt"></i> <span> Tesorería </span> <span class="menu-arrow"></span></a>
        <ul class="nav-second-level" aria-expanded="false">

          <li><%= link_to 'Entradas', treasury_inputs_path, class: '' %></li>
          <li><%= link_to 'Salidas', treasury_outputs_path, class: '' %></li>
          <li><%= link_to 'Diario', treasury_journal_index_path, class: '' %></li>

        </ul>
      </li>    

      

      <li>
          <a href="javascript: void(0);"><i class="ti-pencil-alt"></i> <span> Inventario </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><%= link_to 'Categorias', categories_path, class: '' %></li>
              <li><%= link_to 'Productos', items_path, class: '' %></li>
              <li><%= link_to 'Entradas', inputs_path, class: '' %></li>
              <li><%= link_to 'Salidas', outputs_path, class: '' %></li>
              <li> <a href="javascript: void(0);"><span> Especificaciones </span> <span class="menu-arrow"></span></a> 
                <ul class="nav-third-level" aria-expanded="false">
                  <li><%= link_to 'Especificaciones', specifications_path, class: '' %></li>
                  <li><%= link_to 'Valores', specification_values_path, class: '' %></li>
                </ul>
              </li>

              <li><%= link_to 'Proveedores', suppliers_path, class: '' %></li>
              <%#<li><%= link_to 'Almacenes', stores_path, class: '' </li> %>
              <%# <li><a href="components-icons.html">Icons</a></li> %>
              <%#<li><a href="components-widgets.html">Widgets</a></li>  %>
          </ul>
      </li>    


      <li>
          <a href="javascript: void(0);"><i class=" ti-money"></i> <span> Impuestos </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><%= link_to 'Libro de Ventas', book_sales_path, class: '' %></li>
              <li><%= link_to 'Dosificaciones', invoice_dosages_path, class: '' %></li>
              
              <%# <li><a href="components-icons.html">Icons</a></li>
              <li><a href="components-widgets.html">Widgets</a></li>  %>
          </ul>
      </li>    
        

      <!-- <li>
          <a href="javascript: void(0);"><i class="ti-light-bulb"></i> <span> Components </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><a href="components-range-slider.html">Range Slider</a></li>
              <li><a href="components-alerts.html">Alerts</a></li>
              <li><a href="components-icons.html">Icons</a></li>
              <li><a href="components-widgets.html">Widgets</a></li>
          </ul>
      </li> -->

      <!-- <li>
          <a href="typography.html">
              <i class="ti-spray"></i> <span> Pagos Realizados </span>
          </a>
      </li>
      <li class="menu-title text-danger">Configuración</li>

      <li>
          <a href="javascript: void(0);"><i class="ti-pencil-alt"></i><span> Forms </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><a href="forms-general.html">General Elements</a></li>
              <li><a href="forms-advanced.html">Advanced Form</a></li>
          </ul>
      </li>

      <li>
          <a href="javascript: void(0);"><i class="ti-menu-alt"></i><span> Tables </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><a href="tables-basic.html">Basic tables</a></li>
              <li><a href="tables-advanced.html">Advanced tables</a></li>
          </ul>
      </li>

      <li>
          <a href="charts.html">
              <i class="ti-pie-chart"></i><span class="badge badge-custom pull-right">5</span> <span> Charts </span>
          </a>
      </li>

      <li>
          <a href="maps.html">
              <i class="ti-location-pin"></i> <span> Maps </span>
          </a>
      </li>

      <li>
          <a href="javascript: void(0);"><i class="ti-files"></i><span> Pages </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><a href="pages-login.html">Login</a></li>
              <li><a href="pages-register.html">Register</a></li>
              <li><a href="pages-forget-password.html">Forget Password</a></li>
              <li><a href="pages-lock-screen.html">Lock-screen</a></li>
              <li><a href="pages-blank.html">Blank page</a></li>
              <li><a href="pages-404.html">Error 404</a></li>
              <li><a href="pages-confirm-mail.html">Confirm Mail</a></li>
              <li><a href="pages-session-expired.html">Session Expired</a></li>
          </ul>
      </li>

      <li>
          <a href="javascript: void(0);"><i class="ti-widget"></i><span> Extra Pages </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><a href="extras-timeline.html">Timeline</a></li>
              <li><a href="extras-invoice.html">Invoice</a></li>
              <li><a href="extras-profile.html">Profile</a></li>
              <li><a href="extras-calendar.html">Calendar</a></li>
              <li><a href="extras-faqs.html">FAQs</a></li>
              <li><a href="extras-pricing.html">Pricing</a></li>
              <li><a href="extras-contacts.html">Contacts</a></li>
          </ul>
      </li>

      <li>
          <a href="javascript: void(0);"><i class="ti-share"></i> <span> Multi Level </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level nav" aria-expanded="false">
              <li><a href="javascript: void(0);">Level 1.1</a></li>
              <li><a href="javascript: void(0);" aria-expanded="false">Level 1.2 <span class="menu-arrow"></span></a>
                  <ul class="nav-third-level nav" aria-expanded="false">
                      <li><a href="javascript: void(0);">Level 2.1</a></li>
                      <li><a href="javascript: void(0);">Level 2.2</a></li>
                  </ul>
              </li>
          </ul>
      </li> -->


        <li>
          <a href="javascript: void(0);"><i class="ti-panel"></i> <span> Detalles Organizacion </span> <span class="menu-arrow"></span></a>
          <ul class="nav-second-level" aria-expanded="false">
              <li><%= link_to 'Detalles', company_details_path, class: '' %></li>
              
              <%# <li><a href="components-icons.html">Icons</a></li>
              <li><a href="components-widgets.html">Widgets</a></li>  %>
          </ul>
      </li>    

  </ul>

  </div>
    <!-- Sidebar -->
    <div class="clearfix">
  </div>

</div>