<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <%= csrf_meta_tag %>
        <title>Tiluu - Simple ERP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <%= stylesheet_link_tag 'application' %>
        <%= Gon::Base.render_data %>

    </head>


    <body>
        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">
                <%= render 'layouts/header' %>
            </div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <!--- Sidemenu -->
                <%= render 'layouts/sidebar' %>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <%= yield %>
                            </div>
                        </div>

                    </div> <!-- container -->


                    <%= render 'layouts/footer' %>

                </div> <!-- content -->

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->
        <%= javascript_include_tag 'application' %>
        <%= custom_bootstrap_flash  %>

    </body>
</html>
