<p id="notice"><%= notice %></p>

<%= image_tag(@account.image) %>

<p>
  <strong>Subdomain:</strong>
  <%= @account.subdomain %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @account.owner_id %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
